@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 99% 0 0;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 99% 0 0;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 13.71% 0.036 258.53;

    --radius: 0.5rem;
  }

  .dark {
    --background: 14.06% 0.003 69.39; /* #0a0908 */
    --foreground: 99% 0 0;

    --card: 13.71% 0.036 258.53; /* #020817 */
    --card-foreground: 100% 0 0;

    --popover: 13.71% 0.036 258.53;
    --popover-foreground: 100% 0 0;

    --primary: 100% 0 0;
    --primary-foreground: 20.79% 0.04 265.73;

    --secondary: 21.01% 0.032 264.66; /* #111827 */
    --secondary-foreground: 100% 0 0;

    --muted: 28% 0.037 259.97; /* #1e293b */
    --muted-foreground: 71.07% 0.035 256.79;

    --accent: 60% 0.25 9; /* #ea0062 */
    --accent-foreground: 100% 0 0;

    --accent-hover: 50% 0.25 9;

    --success: 55% 0.22 145.06;
    --success-foreground: 100% 0 0;

    --destructive: 53.44% 0.2443 25.72;
    --destructive-foreground: 100% 0 0;

    --border: 28% 0.037 259.97;
    --input: 28% 0.037 259.97;
    --ring: 86.88% 0.02 252.85;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .magic-button:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #ea0062 30%, rgb(234, 0, 183) 100%);
    transform: translate3d(0px, 10px, 0) scale(0.95);
    filter: blur(40px);
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: inherit;
  }

  .magic-button:hover:before {
    opacity: 0.7;
  }

  /* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/

  .magic-button:hover::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
  }
}
